{% extends 'base_frame.html' %}
{% load url from future %}

{% block header_navi %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url 'root_index' %}" >OtherBu</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block add %}
{% endblock %}

{% block help %}
{% endblock %}

{% block footer %}
    <!-- <hr> -->
    <!-- <footer> -->
    <!--     <p>&copy; Company 2012</p> -->
    <!-- </footer> -->
{% endblock %}

{% block css %}
    {% block local_css %}
    {% endblock %}
    <style>
        .asholder{
            position: relative;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{{ MEDIA_JS }}/jquery.js"></script>
    <script src="{{ MEDIA_JS }}/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_JS }}/bootstrap-button.js"></script>
    <script src="{{ MEDIA_JS }}/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_JS }}/jquery-ui-1.7.2.custom.min.js"></script>
    <script src="{{ MEDIA_JS }}/site.js"></script>
    {% block local_js %}
    {% endblock %}

{% endblock %}
