{% extends 'setting/local_contents.html' %}
{% load url from future %}

{% block info %}
    <div class="form-inline setting-form">
        <div class="pl15 pr15">
            <legend class="mt15"><span class="ml15">OtherBuについて</span></legend>
            <div class="ml30">
                ブックマークの配置やデザインをお好みで<br />指定できるカスタマイズ性の高さが<br />特徴のWebブックマークです
            </div>
            {% comment %}
            <div class="ml30 mt10">
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            {% endcomment %}

            <div class="mt30"></div>

            <legend class="mt15"><span class="ml15">推奨ブラウザ</span></legend>
            <div class="ml30">
                OtherBuでは、<br />下記のブラウザを推奨しています
                <dl>
                    <dt>Windows Vista以降</dt>
                    <dd>・Firefox 最新版</dd>
                    <dd>・Google Chrome 最新版</dd>
                    <dt>Mac OS X10.5以降</dt>
                    <dd>・Safari 最新版</dd>
                    <dd>・Firefox 最新版</dd>
                    <dd>・Google Chrome 最新版</dd>
                </dl>
                ※ 上記ブラウザ以外では正常に動作しない場合があります
            </div>

            <div class="mt30"></div>

            <legend class="mt15"><span class="ml15">お問い合わせ</span></legend>
            <div class="ml30">
                不具合などのご報告・お問い合わせは<br />fujimisakari@gmail.com までお願いします
            </div>

            <div class="mt30"></div>

            <legend><span class="ml15">更新履歴</span></legend>
            <div class="ml30">
                <dl>
                    <dt>2015/10/20</dt>
                    <dd>・AppStoreにOtherbuネイティブアプリをリリース</dd>
                    <dd>・web版とiOS版で同期機能を追加</dd>
                    <dd><a href="https://geo.itunes.apple.com/jp/app/otherbu/id1026662962?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a></dd>
                </dl>
                <dl>
                    <dt>2013/03/31</dt>
                    <dd>・DEMOページを追加</dd>
                </dl>
                <dl>
                    <dt>2013/03/24</dt>
                    <dd>・SmartPhone(iPhone, Android)に対応</dd>
                </dl>
                <div class="navi-history mb20" style="cursor: pointer;">もっと見る</div>
                <div class="history-area" style="display: none">
                    <dl>
                        <dt>2013/03/10</dt>
                        <dd>・インポート機能の追加</dd>
                        <dd>・エクスポート機能の追加</dd>
                    </dl>
                    <dl>
                        <dt>2013/03/02</dt>
                        <dd>・カテゴリデザインの変更</dd>
                        <dd>・ヘルプを追加</dd>
                    </dl>
                    <dl>
                        <dt>2013/02/17</dt>
                        <dd>・ページ機能の追加</dd>
                        <dd>・ブックマーク移動機能の追加</dd>
                        <dd>・ナビゲーションメニューのデザイン変更</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_local_js %}
    <script type="text/javascript">
    <!--
        $('.navi-history').click(function(){
            $('.history-area').slideToggle('slow');
        });
    // -->
    </script>
{% endblock %}
