{% extends 'base_frame.html' %}
{% load static %}

{% block header_navi %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url 'root_index' %}" >OtherBu</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block contents %}
    <div class="center">
        <h1>OtherBu(アザブ)</h1>
        <p>ブックマークの配置やデザインを<br />お好みで指定できるカスタマイズ性の高さが<br />特徴のWebブックマークです</p>
        <p class="download-info mt20">
           <a href="{% url 'auth_login' 'twitter' %}" class="btn btn-info btn-large">Twitter Login</a>
           <a href="{% url 'auth_login' 'facebook' %}" class="btn btn-primary btn-large">Facebook Login</a>
        </p>
        <p class="download-info mt15">
           <a href="{% url 'demo_page' %}" class="btn btn-success btn-large">Demo Page</a>
        </p>
        <a href="https://geo.itunes.apple.com/jp/app/otherbu/id1026662962?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fotherbu.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=170591299734610" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <p class="right">Copyright © fujimisakari All Rights Reserved.</p>
    </footer>
{% endblock %}

{% block css %}
    <style>
        /* Body and structure
        -------------------------------------------------- */
        body {
          position: relative;
          padding-top: 90px;
          background-color: #fff;
          background-image: url({% static 'img/grid-18px-masked.png' %});
          background-repeat: repeat-x;
          background-position: 0 40px;
        }

        .navbar .brand:hover {
            text-decoration: none;
        }

        .navbar .brand {
            float: left;
            display: block;
            padding: 8px 20px 12px;
            margin-left: -20px;
            font-size: 20px;
            font-weight: 200;
            line-height: 1;
            color: #ffffff;
        }

        /* Footer
        -------------------------------------------------- */
        .footer {
          margin-top: 45px;
          padding: 5px 10px;
          border-top: 1px solid #e5e5e5;
        }
        .footer p {
          margin-bottom: 0;
          color: #555;
        }
    </style>
{% endblock %}

{% block js %}
{% endblock %}
