{% extends 'setting/local_contents.html' %}
{% load url from future %}

{% block local_help %}
    <p>このページにはヘルプ情報はありません</p>
{% endblock %}

{% block info %}
    <div class="span8 form-inline setting-form">
        <div class="pl15 pr15">
            <legend class="mt15"><span class="ml15">Otherbuについて</span></legend>
            <div class="ml30">
                ブックマークの配置やデザインをお好みで指定できる<br />カスタマイズ性の高さが特徴のWebブックマークです
            </div>
            <div class="ml30 mt10">
                <table>
                    <tr>
                        <td>
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fotherbu.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
                        </td>
                        <td>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-text="OtherBu ブックマークの配置やデザインをお好みで指定できる カスタマイズ性の高さが特徴のWebブックマークです" data-lang="ja">ツイート</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="mt30"></div>

            <legend class="mt15"><span class="ml15">推奨ブラウザ</span></legend>
            <div class="ml30">
                OtherBuでは、下記のブラウザを推奨しています。
                <dl>
                    <dt>Windows Vista以降</dt>
                    <dd>・Firefox 最新版</dd>
                    <dd>・Google Chrome 最新版</dd>
                    <dt>Mac OS X10.5以降</dt>
                    <dd>・Safari 最新版</dd>
                    <dd>・Firefox 最新版</dd>
                    <dd>・Google Chrome 最新版</dd>
                </dl>
                ※ 上記ブラウザ以外では正常に動作しない場合があります。
            </div>

            <div class="mt30"></div>

            <legend class="mt15"><span class="ml15">お問い合わせ</span></legend>
            <div class="ml30">
                不具合などのご報告・お問い合わせは fujimisakari@gmail.com までお願いします。
            </div>

            <div class="mt30"></div>

            <legend><span class="ml15">更新履歴</span></legend>
            <div class="ml30">
                <dl>
                    <dt>2013/03/10</dt>
                    <dd>・インポート機能の追加</dd>
                    <dd>・エクスポート機能の追加</dd>
                </dl>
                <dl>
                    <dt>2013/03/02</dt>
                    <dd>・カテゴリデザインの変更</dd>
                    <dd>・ヘルプを追加</dd>
                </dl>
                <dl>
                    <dt>2013/02/17</dt>
                    <dd>・ページ機能の追加</dd>
                    <dd>・ブックマーク移動機能の追加</dd>
                    <dd>・ナビゲーションメニューのデザイン変更</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_local_js %}
{% endblock %}
