{% extends 'portal/local_contents.html' %}

{% block contents %}
    {% if design.portal_back_kind %}
        {% if design.image_position == 'no-repeat' %}
            <img class="bg" src="{{ MEDIA_USER_BK_IMG }}/{{ user.type }}/{{ user.user_dir }}/{{ BK_IMAGE_NAME }}.{{ design.bk_image_ext }}" alt="background-image" />
        {% endif %}
    {% endif %}

    <div class="viewport">
       <div class="pointer">
           <span class="current"></span>
           <span></span>
           <span></span>
       </div>

       <div class="flipsnap">
           {% for column_id in COLUMN %}
               <div class="column item" id="column-{{ forloop.counter }}">
                   {% for category in category_list %}
                       {% if category.angle == column_id %}
                       <div class="dragbox color-{{ category.color.id }}" id="item-{{ category.id }}">
                           <h2 id="h2-{{ category.id }}"><div class="category-title" >{{ category.name }}</div></h2>
                           {% if category.tag_open %}
                               <div class="dragbox-content">
                           {% else %}
                               <div class="dragbox-content hide">
                           {% endif %}
                               <ul>
                                   {% for bookmark in bookmark_list %}
                                       {% if category.id == bookmark.category_id %}
                                           <li>
                                               <div class="font_14 mt4 mb4"><span class="linkmark-color">●</span>&nbsp;&nbsp;<a href="{{ bookmark.url }}" target="_blank"><span class="link-color">{{ bookmark.name }}</span></a></div>
                                           </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </div>
                       </div>
                       {% endif %}
                   {% endfor %}
               </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}
