{% extends 'portal/local_contents.html' %}

{% block local_help %}
    <legend><span class="ml15">機能紹介・操作方法</span></legend>
    <div class="ml30">
        <dl>
            <dt>OtherBuでは以下の3つの機能があります</dt>
            <dd>・カテゴリ</dd>
            <dd>・ブックマーク</dd>
            <dd>・ページ</dd>
        </dl>

        <h4>カテゴリについて</h4>
        <div class="ml10">
            <p>カテゴリはブックマークを分類するために使用します<br />このページでは以下操作が行えます</p>
            <dl>
                <dt>カテゴリ登録</dt>
                <dd>上部のメモアイコンよりカテゴリ登録が行えます</dd>
                <dt class="mt5">カテゴリ開閉</dt>
                <dd>カテゴリのタイトル名をクリックすることで開閉が行えます</dd>
                <dt class="mt5">カテゴリの位置の移動</dt>
                <dd>
                    カテゴリのタイトルバーにマウスポインターを乗せると十字マークになります<br />
                    そして、任意の列へドラッグすることで移動が行えます
                </dd>
                <dt class="mt5">カテゴリの色変更</dt>
                <dd>
                    カテゴリのタイトルバーにマウスポインターを歯車マークが表示されます<br />
                    歯車マークをクリックするとカラーパレッドが表示され、任意の色をクリックすると色変更が行えます
                </dd>
            </dl>
        </div>

        <h4>ブックマークについて</h4>
        <div class="ml10">
            <p>ブックマークはURLに名前つけて記憶しておく機能です<br />このページでは以下操作が行えます</p>
            <dl>
                <dt>ブックマーク登録</dt>
                <dd>上部のペンアイコンよりブックマーク登録が行えます<br />ブックマークの登録の際に、URLを入力するとそのページのタイトルが自動で入力されます</dd>
            </dl>
        </div>

        <h4>ページについて</h4>
        <div class="ml10">
            <p>ページはカテゴリを分類してシーンに合ったカテゴリのみを表示させます<br />このページでは以下操作が行えます</p>
            <dl>
                <dt>ページ作成・変更</dt>
                <dd>上部のページアイコンよりページ作成・変更が行えます<br />ページを作成していない場合は、すべてのカテゴリが表示されます</dd>
            </dl>
        </div>
    </div>
{% endblock %}

{% block contents %}
    <div class="row">
        {% for column_id in COLUMN %}
            <div class="span4">
                <div class="column" id="column-{{ forloop.counter }}">
                    {% for category in category_list %}
                        {% if category.angle == column_id %}
                        <div class="dragbox color-{{ category.color.id }}" id="item-{{ category.id }}">
                            <h2 id="h2-{{ category.id }}"><span class="category-title" >{{ category.name }}</span><span class="configure" ><i class="icon-cog"></i></span></h2>
                            <div class="category-color hide">
                                <p>Set Color ：</p>
                                <ul class="colors">
                                {% for color in color_list %}
                                    <li class="color-{{ color.id }}" style="background: {{ color.thumbnail_color_code }}"></li>
                                    {% if forloop.counter|divisibleby:6 %}
                                        {% if forloop.last %}
                                            </ul>
                                        {% else %}
                                            </ul>
                                            <br />
                                            <ul class="colors">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if category.tag_open %}
                                <div class="dragbox-content">
                            {% else %}
                                <div class="dragbox-content hide">
                            {% endif %}
                                <ul>
                                    {% for bookmark in bookmark_list %}
                                        {% if category.id == bookmark.category_id %}
                                            <li>
                                                <span class="linkmark-color">●</span>&nbsp;&nbsp;<a href="{{ bookmark.url }}" target="_blank"><span class="link-color">{{ bookmark.name }}</span></a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
