{% extends 'base_contents.html' %}

{% block contents %}
    <div class="row-fluid mt15">
        <div class="span3">
            <div class="sidemenu">
                <ul class="nav nav-tabs nav-stacked sidemenu">
                    <li class="header">Menu</li>
                    {% if active_flg == "bookmark" %}
                        <li class="active"><a href="{% url 'bookmark_index' %}"><strong>ブックマーク</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'bookmark_index' %}">ブックマーク</a></li>
                    {% endif %}

                    {% if active_flg == "bookmark_move_index" %}
                        <li class="active"><a href="{% url 'bookmark_move_index' %}"><strong>ブックマーク移動</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'bookmark_move_index' %}">ブックマーク移動</a></li>
                    {% endif %}

                    {% if active_flg == "category" %}
                        <li class="active"><a href="{% url 'category_index' %}"><strong>カテゴリ</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'category_index' %}">カテゴリ</a></li>
                    {% endif %}

                    {% if active_flg == "page" %}
                        <li class="active"><a href="{% url 'page_index' %}"><strong>ページ</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'page_index' %}">ページ</a></li>
                    {% endif %}

                    {% if active_flg == "design" %}
                        <li class="active"><a href="{% url 'design_index' %}"><strong>デザイン</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'design_index' %}">デザイン</a></li>
                    {% endif %}

                    {% if active_flg == "import" %}
                        <li class="active"><a href="{% url 'import_index' %}"><strong>インポート</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'import_index' %}">インポート</a></li>
                    {% endif %}

                    {% if active_flg == "export" %}
                        <li class="active"><a href="{% url 'export_index' %}"><strong>エクスポート</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'export_index' %}">エクスポート</a></li>
                    {% endif %}

                    {% if active_flg == "info" %}
                        <li class="active"><a href="{% url 'info_index' %}"><strong>OtherBuについて</strong></a></li>
                    {% else %}
                        <li><a href="{% url 'info_index' %}">OtherBuについて</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% block bookmark %}{% endblock %}
        {% block bookmark_move %}{% endblock %}
        {% block category %}{% endblock %}
        {% block page %}{% endblock %}
        {% block design %}{% endblock %}
        {% block import %}{% endblock %}
        {% block export %}{% endblock %}
        {% block info %}{% endblock %}
    </div>
{% endblock %}

{% block local_css %}
    <link href="{{ MEDIA_CSS }}/setting-style.css" rel="stylesheet">
    <style>
        .setting-container{
            background-image: url({{ MEDIA_IMG }}/wash-white.png);
            padding: 15px 15px 0 15px;
        }
    </style>
    {% block sub_local_css %}{% endblock %}
{% endblock %}

{% block local_js %}
    {% block sub_local_js %}{% endblock %}
{% endblock %}
