{% extends 'setting/local_contents.html' %}
{% load url from future %}

{% block local_help %}
    <legend><span class="ml15">デザイン編集</span></legend>
    <div class="ml30">
        <dl>
            <dt>このページでは以下の操作が行えます</dt>
            <dd>・各デザインのカスタマイズ</dd>
        </dl>

        <div class="ml10">
            <dl>
                <dt>各デザインのカスタマイズ</dt>
                <dd>任意の設定を行い保存ボタンを押します</dd>
            </dl>
        </div>
    </div>
{% endblock %}

{% block design %}
    <form class="form-horizontal" name="form1" id="form1" method="post" enctype="multipart/form-data">
        {{ formset.management_form }}

        <div class="span8 form-inline setting-form">
            <div class="mt15"></div>
            <legend><span class="ml15"></span>デザイン&nbsp;&nbsp;<small>画面背景やカテゴリ背景をカスタマイズしましよう</small></legend>

            {% if comp_mode == "edit" %}
                <div class="alert alert-success ml15 mr15">
                   デザインを編集しました。<br />
                   画像アップロードされた場合は、ブラウザの再読み込みを行ってください
                </div>
            {% endif %}

            <fieldset>
                {% for form in formset.forms %}
                    <div class="control-group">
                        <label class="control-label">リンクマーク</label>
                        <div class="controls">
                            {{ form.linkmark_flg }}
                            <p class="help-block">ブックマークリンクの先頭に表示される「●」の色を設定しましょう</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">リンク色</label>
                        <div class="controls">
                            {{ form.link_color }}
                            <p class="help-block">ブックマークリンクの色を設定しましょう</p>
                        </div>
                    </div>

                    <hr />

                    <div class="control-group">
                        <label class="control-label" for="url">カテゴリ背景色</label>
                        <div class="controls">
                            {{ form.category_back_color }}
                            <p class="help-block">カテゴリ背景色をカラーパレットから選びましょう</p>
                        </div>
                    </div>

                    <hr />

                    <div class="control-group">
                        <label class="control-label">画面背景設定</label>
                        <div class="controls">
                            {{ form.portal_back_kind }}
                            <p class="help-block">画面背景は色もしくは画像どちらで設定するか選びましょう</p>
                        </div>
                    </div>

                    <div class="control-group portal_back_color">
                        <label class="control-label">画面背景色</label>
                        <div class="controls">
                            {{ form.portal_back_color }}
                            <p class="help-block">画面背景色をカラーパレットから選びましょう</p>
                        </div>
                    </div>

                    <div class="control-group portal_back_image">
                        <label class="control-label">画像アップロード</label>
                        <div class="controls">
                            {% if form.image_upload.errors %}
                                <span style="color:  #B94A48;" class="unstyled">
                                    {{ form.image_upload.errors }}
                                </span>
                            {% endif %}
                            {{ form.image_upload }}
                            <p class="help-block">最大2Mまで (gif, jpg, png が使用できます)</p>
                        </div>
                    </div>

                    <div class="control-group portal_back_image">
                        <label class="control-label">画像の配置</label>
                        <div class="controls">
                            {{ form.image_position }}
                            <p class="help-block">背景画像の配置方法を選びましょう</p>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="form-actions">
                <button class="btn btn-primary" onClick="fnColorCheck(); fnFormActionSubmit('form1', '{% url 'design_edit' %}', '', ''); return false">保存</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sub_local_css %}
    <link href="{{ MEDIA_CSS }}/jquery.simple-color-picker.css" rel="stylesheet">
{% endblock %}

{% block sub_local_js %}
    <script src="{{ MEDIA_JS }}/jquery.simple-color-picker.js"></script>
    <script type="text/javascript">
    <!--

        $(function(){

            /**
             * リンク色選択時にカラーパケットを表示させる
             */
            $('input#id_form-0-link_color').simpleColorPicker({showEffect: 'fade',
                                                               hideEffect: 'slide',
                                                               onChangeColor: function(color) {$(this).val(color); }
                                                               });

            /**
             * カテゴリ背景色選択時にカラーパケットを表示させる
             */
            $('input#id_form-0-category_back_color').simpleColorPicker({showEffect: 'fade',
                                                                        hideEffect: 'slide',
                                                                        onChangeColor: function(color) {$(this).val(color); }
                                                                        });

            /**
             * 背景色選択時にカラーパケットを表示させる
             */
            $('input#id_form-0-portal_back_color').simpleColorPicker({showEffect: 'fade',
                                                                      hideEffect: 'slide',
                                                                      onChangeColor: function(color) {$(this).val(color); }
                                                                      });

            /**
             * 画面背景色、画面背景画像の切り変え
             */
            portalBackKindFlg = $("input[name='form-0-portal_back_kind']:checked").val();
            portalBackCheck(portalBackKindFlg);

            $("input[name='form-0-portal_back_kind']").click(function(){
                portalBackKindFlg = $("input[name='form-0-portal_back_kind']:checked").val();
                portalBackCheck(portalBackKindFlg);
            });

        });

        // 画面背景色、画面背景画像の切り変え
        function portalBackCheck(val){
            if(val == 'False'){
                $('.portal_back_color').show();
                $('.portal_back_image').hide();
            } else {
                $('.portal_back_color').hide();
                $('.portal_back_image').show();
            }
        }

        /**
         * 項目が空の場合は、デフォルト値を設定
         */
        function fnColorCheck(){
            // リンク色
            linkColor = $('#id_form-0-link_color').val();
            if(linkColor == ''){
                $('#id_form-0-link_color').val('#005580');
            }

            // カテゴリの背景色
            categoryColor = $('#id_form-0-category_back_color').val();
            if(categoryColor == ''){
                $('#id_form-0-category_back_color').val('#ffffff');
            }

            // ポータルの背景色
            protalColor = $('#id_form-0-portal_back_color').val();
            if(protalColor == ''){
                $('#id_form-0-portal_back_color').val('#ffffff');
            }
        }

    // -->
    </script>
{% endblock %}
