appnope==0.1.0
astroid==1.4.3
autopep8==1.2.1
BeautifulSoup==3.2.1
click==6.7
cmigemo==0.1.6
colorama==0.3.5
decorator==4.0.6
Django==1.8.7
django-extensions==1.7.5
funcsigs==1.0.2
gnureadline==6.3.3
gunicorn==19.6.0
IPy==0.76
ipython==4.0.1
ipython-genutils==0.1.0
jedi==0.9.0
lazy-object-proxy==1.2.1
mock==2.0.0
MySQL-python==1.2.3
path.py==8.1.2
pbr==1.10.0
pep8==1.6.2
percol==0.2.1
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pyflakes==1.0.0
Pygments==2.0.2
pylint==1.5.2
python-dotenv==0.6.1
python-memcached==1.58
simplegeneric==0.8.1
simplejson==2.6.0
six==1.10.0
traitlets==4.0.0
tweepy==1.10
uamobile==0.2.16
uWSGI==2.0.12
Werkzeug==0.11.15
wrapt==1.10.6
